---
import Layout from "../../layouts/BaseLayout.astro";
import { getPokemonList } from "../../services/pokemon.ts";

const pokemon = await getPokemonList();
---

<Layout heading="Pokemon">
    <ul>
    {
        pokemon.map(pokemon => (
            <li>
                <a href={`/pokemon/${pokemon.name}`}>{pokemon.name}</a>          
            </li>
        ))
    }
    </ul>
</Layout>

<style>
    a {
        text-transform: capitalize;
    }
</style>
