<header>
    <h1>Mejsla</h1>
    <nav>
        <a href="/">Hem</a>
        <a href="/about">Om oss</a>
        <a href="/items">Items</a>
        <a href="/pokemon">Pokémon</a>
        <a href="/astro-docs">Astro docs</a>
        <a href="/slides">Slides</a>
    </nav>
</header>
